.plmsdetails {
  &__place {
    text-transform: uppercase;
    color: $blue-color;
    font-size: 1.2rem;
    margin-block-end: 0;
  }
  .label-value {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 49%;
      align-items: center;
      label {
        width: 45%;
      }
      strong {
        width: calc(100% - 45%);
      }
    }
  }
  .card-wrapper {
    max-width: 800px;
    &__xl {
      max-width: 1200px;
    }
  }
  .vertical-tab-content {
    padding: 0;
    .tab-pane {
      padding: 0;
    }
    .card {
      + .card {
        margin-block-start: 2rem;
      }
    }
  }
  .sidebar {
    background-color: $sub-menu-color;
    width: 20rem;
    box-shadow: none;
  }
  &__headerBlock {
    padding: 1rem 1.5rem 0;
  }
  &__profile {
    padding: 2rem 0;
    &__title,
    &__subtitle {
      color: $main-title-color;
    }
    img {
      width: 16rem;
      height: 16rem;
      object-fit: cover;
      object-position: top;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    flex: 1;
    &.nav-pills {
      .nav-link {
        color: $text-color;
        text-align: left;
        border-block-end: 1px solid $white;
        border-radius: 0;
        transition: 0.2s ease-in-out;
        padding: 1rem 1.5rem;
        font-weight: 400;

        &:hover {
          color: $text-color;
          font-weight: 700;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &.active {
          background-color: $bg-color;
          color: $text-color;
          font-weight: 700;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
      .show {
        & > .nav-link {
          background-color: $bg-color;
          color: $text-color;
          font-weight: 700;
        }
      }
    }
  }
  .search-option {
    display: flex;
    .form-control {
      & + .form-control,
      & + .btn {
        margin-inline-start: 1.5rem;
      }
    }
  }
  .text-danger {
    color: $prominent-orange;
  }
  .bloodTest {
    &__listDoc {
      list-style: none;
      padding-inline-start: 0;
      li {
        margin-block-end: 1.5rem;
        > label {
          width: 17.5%;
        }
        > ul {
          display: flex;
          flex-wrap: wrap;
          > li {
            width: 49%;
            margin-block-end: 0;
            label {
              width: 36%;
            }
          }
        }
      }
    }
    .sidebar {
      background-color: $bg-color;
      top: 0;
      inset-inline-start: 20rem;
      width: 40rem;
      &--moreInfoSidebar {
        top: 6rem;
      }
    }
    .card-wrapper {
      margin-inline-start: 40rem;
    }
    table {
      tbody {
        tr {
          cursor: pointer;
          transition: 0.2 all linear;
          &:hover {
            background-color: $white;
          }
        }
      }
    }
  }
  .container-fluid {
    .card {
      margin: 0;
      height: 100%;
    }
  }
  .image-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-block-end: 1rem;
    img {
      width: 28.2rem;
    }
  }
}
